<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.dlazerka.go"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="name.dlazerka.go.Application"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.dlazerka.go.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>